In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({'col1' : [1,2,3,4,5],
              'col2' : [45,56,67,34,34],
              'col3': "sudhanshu kumar krish ineuron one".split()
     })

In [2]:
pd.DataFrame({'col1':[1,2,3,4,5],
'col2':[45,56,67,78,23],
'col2':"hero nobody someone here how"})

   col1                          col2
0     1  hero nobody someone here how
1     2  hero nobody someone here how
2     3  hero nobody someone here how
3     4  hero nobody someone here how
4     5  hero nobody someone here how

In [13]:
df= pd.DataFrame({'col1':[1,2,3,4,5],
'col2':[45,56,67,78,23],
'col3':"hero nobody someone here how".split()
})

In [14]:
df

   col1  col2     col3
0     1    45     hero
1     2    56   nobody
2     3    67  someone
3     4    78     here
4     5    23      how

In [15]:
df['col4'] = df['col1']**2

In [16]:
df

   col1  col2     col3  col4
0     1    45     hero     1
1     2    56   nobody     4
2     3    67  someone     9
3     4    78     here    16
4     5    23      how    25

In [17]:
df['col5']= df['col3'].str[0]

In [18]:
df

   col1  col2     col3  col4 col5
0     1    45     hero     1    h
1     2    56   nobody     4    n
2     3    67  someone     9    s
3     4    78     here    16    h
4     5    23      how    25    h

In [20]:
def test(a):
    return a**2

In [21]:
df['col4_4']= df['col1'].apply(test)

In [22]:
df

   col1  col2     col3  col4 col5  col4_4
0     1    45     hero     1    h       1
1     2    56   nobody     4    n       4
2     3    67  someone     9    s       9
3     4    78     here    16    h      16
4     5    23      how    25    h      25

In [23]:
def test1(a):
    if a== 's':
        return 's'
    else:
        return 'z'

In [24]:
df['col6']= df['col5'].apply(test1)

In [25]:
df

   col1  col2     col3  col4 col5  col4_4 col6
0     1    45     hero     1    h       1    z
1     2    56   nobody     4    n       4    z
2     3    67  someone     9    s       9    s
3     4    78     here    16    h      16    z
4     5    23      how    25    h      25    z

In [27]:
df['col6_6'] = df['col4'].apply(lambda a:'s' if a=='s' else 'z')

In [28]:
df

   col1  col2     col3  col4 col5  col4_4 col6 col6_6
0     1    45     hero     1    h       1    z      z
1     2    56   nobody     4    n       4    z      z
2     3    67  someone     9    s       9    s      z
3     4    78     here    16    h      16    z      z
4     5    23      how    25    h      25    z      z

In [29]:
df['col7'] =df['col3'].apply(len)

In [30]:
df

   col1  col2     col3  col4 col5  col4_4 col6 col6_6  col7
0     1    45     hero     1    h       1    z      z     4
1     2    56   nobody     4    n       4    z      z     6
2     3    67  someone     9    s       9    s      z     7
3     4    78     here    16    h      16    z      z     4
4     5    23      how    25    h      25    z      z     3

In [31]:
import math

In [32]:
df['col8']= df['col2'].apply(math.log)

In [33]:
df

   col1  col2     col3  col4 col5  col4_4 col6 col6_6  col7      col8
0     1    45     hero     1    h       1    z      z     4  3.806662
1     2    56   nobody     4    n       4    z      z     6  4.025352
2     3    67  someone     9    s       9    s      z     7  4.204693
3     4    78     here    16    h      16    z      z     4  4.356709
4     5    23      how    25    h      25    z      z     3  3.135494

In [34]:
l = ['hero',1,2,3,4]

In [35]:
type(l)

list

In [36]:
np.array(l)

array(['hero', '1', '2', '3', '4'], dtype='<U11')

In [37]:
type(np.array(l))

numpy.ndarray

In [38]:
 np.array([3,4,5,6,3.0])

array([3., 4., 5., 6., 3.])

In [39]:
np.array([[1,2] , [3,4]])

array([[1, 2],
       [3, 4]])

In [40]:
a= np.array([3,4,5,6,3.0])
a1=np.array([[1,2] , [3,4]])

In [41]:
a1

array([[1, 2],
       [3, 4]])

In [44]:
a1[1][1]

4

In [45]:
a

array([3., 4., 5., 6., 3.])

In [46]:
a[1]

4.0

In [50]:
a2 =np.array([1,2,3,4],ndmin = 4)

In [54]:
a2[0][0][0][0]

1

In [58]:
a1

array([[1, 2],
       [3, 4]])

In [60]:
np.asanyarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [61]:
np.asarray([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [62]:
np.mat([1,2,3,4,5])

matrix([[1, 2, 3, 4, 5]])

In [63]:
a= [1,2,3,4,5]
np.asarray(a)

array([1, 2, 3, 4, 5])

In [65]:
np.mat(a)

matrix([[1, 2, 3, 4, 5]])

In [66]:
np.asanyarray(a)

array([1, 2, 3, 4, 5])

In [67]:
np.asanyarray(np.mat(a))

matrix([[1, 2, 3, 4, 5]])

In [68]:
np.fromfunction(lambda i, j : i==j, (3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [69]:
np.fromfunction(lambda i,j : i*j, (4,4))

array([[0., 0., 0., 0.],
       [0., 1., 2., 3.],
       [0., 2., 4., 6.],
       [0., 3., 6., 9.]])

In [71]:
np.fromfunction(lambda i,j : i*j, (4,4), dtype = int)

array([[0, 0, 0, 0],
       [0, 1, 2, 3],
       [0, 2, 4, 6],
       [0, 3, 6, 9]])

In [73]:
np.fromfunction(lambda i,j,z : i*j*z, (3,3,2), dtype = int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]]])

In [75]:
#(3,2)- 3dimension
#(4,3,2)- 3 dimension with 4 pages(depth)
np.fromfunction(lambda i,j,z : i*j*z, (4,3,2), dtype = int)

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [76]:
np.fromfunction(lambda i , j ,z ,p: i*j*z*p , (4,3,2,2),dtype = int)

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [77]:
a = np.fromfunction(lambda i , j ,z : i*j*z , (4,3,2),dtype = int)

In [78]:
a.ndim

3

In [79]:
a.size

24

In [80]:
a.shape

(4, 3, 2)

In [81]:
a.dtype

dtype('int32')

In [84]:
a= np.fromfunction(lambda i,j : i*j, (4,3),dtype=int)

In [85]:
pd.DataFrame(a)

   0  1  2
0  0  0  0
1  0  1  2
2  0  2  4
3  0  3  6

In [86]:
a= np.fromfunction(lambda i,j : i*j, (400,300),dtype=int)

In [87]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
2,0,2,4,6,8,10,12,14,16,18,...,580,582,584,586,588,590,592,594,596,598
3,0,3,6,9,12,15,18,21,24,27,...,870,873,876,879,882,885,888,891,894,897
4,0,4,8,12,16,20,24,28,32,36,...,1160,1164,1168,1172,1176,1180,1184,1188,1192,1196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0,395,790,1185,1580,1975,2370,2765,3160,3555,...,114550,114945,115340,115735,116130,116525,116920,117315,117710,118105
396,0,396,792,1188,1584,1980,2376,2772,3168,3564,...,114840,115236,115632,116028,116424,116820,117216,117612,118008,118404
397,0,397,794,1191,1588,1985,2382,2779,3176,3573,...,115130,115527,115924,116321,116718,117115,117512,117909,118306,118703
398,0,398,796,1194,1592,1990,2388,2786,3184,3582,...,115420,115818,116216,116614,117012,117410,117808,118206,118604,119002
399,0,399,798,1197,1596,1995,2394,2793,3192,3591,...,115710,116109,116508,116907,117306,117705,118104,118503,118902,119301

In [88]:
np.random.rand(100,4)

array([[1.08971220e-01, 9.58523475e-01, 6.74884850e-01, 9.19436565e-01],
       [8.37451101e-01, 4.01374844e-01, 7.29373019e-01, 9.58918758e-01],
       [5.20015840e-01, 1.30399060e-01, 7.72611635e-01, 2.42385680e-01],
       [4.79427267e-01, 3.77589402e-01, 7.80657074e-01, 6.82651134e-01],
       [9.25463462e-01, 8.19839495e-01, 7.71316888e-01, 5.71706434e-01],
       [6.64206529e-01, 1.71515349e-01, 9.18858326e-01, 3.16337852e-01],
       [2.95659472e-01, 9.58689934e-01, 7.75801663e-01, 6.50340765e-01],
       [3.39992697e-01, 5.43541485e-01, 8.61215777e-01, 8.67088678e-02],
       [6.32438558e-01, 8.10218418e-01, 2.88667447e-01, 7.70082570e-01],
       [6.61597565e-01, 4.77152146e-02, 8.09943619e-02, 9.00186929e-01],
       [9.57494820e-01, 9.43798611e-01, 2.81812398e-02, 5.89948106e-01],
       [8.85278632e-01, 9.67571762e-01, 4.08656018e-01, 2.80309267e-01],
       [5.35438148e-02, 3.25619048e-01, 9.14276065e-01, 9.17456358e-01],
       [3.62634735e-01, 3.78049141e-01, 6.32743539e-01, 2.13783246e-01],
       [5.11722614e-01, 8.80296188e-01, 5.05023157e-01, 6.21261363e-01],
       [5.30282064e-01, 9.59776608e-01, 8.57876479e-01, 4.96959477e-02],
       [1.04803537e-01, 4.00494506e-01, 4.81404320e-01, 9.27771819e-01],
       [4.34607815e-01, 8.95697256e-01, 8.93915043e-01, 8.86914306e-01],
       [1.57695959e-01, 9.97709606e-02, 8.85148614e-01, 1.90735093e-01],
       [3.30060651e-01, 3.98607874e-02, 2.05458048e-01, 9.39920613e-01],
       [7.48696937e-01, 3.25058885e-01, 4.16232322e-01, 4.09244835e-01],
       [8.86420399e-01, 4.46010099e-01, 8.12677735e-02, 4.23375978e-01],
       [1.33109537e-01, 5.23463884e-01, 4.13789241e-01, 9.91575244e-01],
       [1.77362596e-01, 7.42805124e-01, 9.65586973e-01, 3.83651942e-01],
       [5.21632137e-01, 8.04697778e-01, 4.33833226e-01, 3.66213654e-01],
       [6.49036436e-01, 1.01870974e-01, 2.08975418e-01, 5.14429858e-01],
       [2.40571100e-01, 8.48240851e-01, 7.90222979e-01, 6.27105097e-01],
       [4.11062116e-01, 5.78023252e-02, 8.98954734e-01, 3.04273495e-01],
       [2.82706414e-01, 3.30589389e-01, 6.32534503e-01, 1.22879276e-01],
       [5.10715650e-01, 4.12644840e-01, 3.34174111e-01, 7.88797275e-01],
       [1.42143309e-01, 8.31134540e-01, 1.52921603e-01, 7.11864573e-01],
       [6.80030661e-01, 3.72516612e-02, 5.85959915e-02, 3.99827108e-01],
       [6.07962163e-01, 7.11217997e-01, 1.15841772e-01, 5.67488294e-01],
       [7.98151684e-01, 4.95572350e-01, 3.59859597e-01, 5.54801875e-01],
       [5.27478812e-01, 7.44073389e-04, 4.55565958e-01, 3.68801742e-01],
       [1.65369701e-01, 3.83430404e-01, 3.05704148e-01, 3.97059329e-02],
       [2.40081165e-01, 3.78357421e-01, 5.73182779e-01, 6.16876684e-01],
       [5.05057254e-01, 5.78634927e-01, 7.82466121e-01, 1.46982546e-01],
       [4.95090180e-01, 4.80107274e-01, 3.93328829e-01, 9.38827777e-01],
       [1.62204603e-01, 9.66322894e-02, 1.52501116e-01, 7.10799222e-01],
       [3.39765271e-01, 4.37179606e-01, 3.71371697e-01, 1.76419614e-01],
       [4.73373394e-01, 9.89960912e-01, 5.96332452e-01, 1.74166447e-01],
       [9.37637811e-01, 7.95238931e-01, 6.32895213e-01, 5.67744022e-01],
       [9.81903869e-01, 2.37055991e-01, 5.41928386e-01, 8.81868849e-01],
       [6.50605216e-01, 8.72448066e-01, 7.54259316e-01, 9.13534004e-01],
       [6.49905505e-01, 8.26041786e-01, 7.57053784e-01, 1.41707096e-01],
       [4.59016342e-01, 1.51602017e-01, 4.26314649e-02, 2.43329744e-01],
       [1.27890378e-02, 1.91345529e-02, 7.32505688e-01, 8.32439435e-01],
       [5.94680916e-02, 8.75463503e-02, 5.69843401e-01, 3.10252523e-01],
       [2.71384774e-01, 2.29842905e-02, 8.25647693e-01, 3.13846125e-01],
       [6.27630526e-01, 8.36755780e-01, 3.27544437e-01, 6.91319770e-01],
       [9.96610521e-01, 1.92327334e-01, 4.56870182e-01, 7.73658453e-01],
       [4.20574187e-01, 3.45646628e-01, 8.18124199e-02, 1.37775984e-01],
       [7.66991610e-01, 2.19255257e-01, 2.59577290e-01, 7.97164670e-01],
       [7.83720871e-01, 3.98642622e-01, 7.02668682e-01, 3.58227263e-01],
       [7.73269633e-01, 7.55957225e-01, 1.25742320e-01, 8.92828431e-01],
       [5.83906300e-01, 9.66059593e-01, 8.54007905e-01, 2.51497497e-01],
       [8.28790085e-01, 2.48793232e-01, 9.79754401e-01, 3.85031298e-01],
       [4.61312842e-02, 4.69998498e-01, 6.25041136e-01, 2.69006326e-01],
       [1.34343298e-01, 7.95921682e-01, 7.75035882e-01, 8.72955539e-01],
       [4.99232446e-01, 4.86779363e-01, 9.91583849e-01, 2.68201192e-01],
       [8.60550976e-01, 4.53766553e-02, 7.87516670e-01, 3.72573057e-01],
       [5.81022927e-02, 4.20498884e-01, 9.71873387e-01, 8.62228518e-01],
       [9.00248909e-01, 3.17891546e-01, 7.83328119e-02, 8.09980618e-01],
       [2.97570665e-01, 1.48459514e-01, 1.89767228e-01, 4.06166692e-01],
       [9.34558988e-01, 7.90096163e-01, 7.73624551e-01, 7.75804693e-01],
       [1.01375637e-01, 8.10074227e-01, 7.98269149e-01, 7.56277748e-02],
       [2.42725635e-01, 6.03082121e-02, 4.46459557e-02, 3.85942800e-01],
       [3.05884699e-02, 6.94274144e-01, 8.28269715e-02, 9.32829447e-01],
       [7.23299861e-01, 8.98920948e-01, 9.05602447e-01, 2.22380209e-01],
       [2.34527229e-01, 8.90390775e-01, 6.13295993e-01, 6.19798261e-01],
       [6.18784970e-01, 4.15940105e-01, 8.66453426e-01, 5.58156760e-01],
       [9.31795375e-01, 5.72642170e-01, 6.25932785e-02, 6.73200719e-01],
       [5.70822122e-01, 9.10452848e-01, 5.11160332e-01, 2.95422079e-01],
       [6.65745664e-01, 5.92103650e-01, 5.50071555e-01, 1.33435907e-01],
       [2.52022107e-01, 9.12213679e-01, 7.03407960e-01, 2.16257858e-01],
       [6.54119041e-02, 7.40180270e-01, 2.12870205e-01, 5.65891958e-01],
       [8.25425437e-01, 9.20152937e-01, 1.37364685e-02, 8.65199522e-01],
       [1.12985077e-01, 5.19923235e-02, 4.89423658e-01, 5.87227399e-01],
       [4.11611248e-01, 4.67643903e-01, 9.21358261e-01, 4.92438391e-01],
       [9.50940663e-01, 1.97322076e-01, 9.12382333e-01, 8.59849691e-01],
       [5.59022169e-01, 3.27426139e-01, 5.13780110e-01, 8.58800746e-01],
       [9.12248390e-01, 3.69065602e-01, 1.61937831e-01, 2.69812175e-01],
       [3.83569705e-01, 1.20963815e-01, 4.80148137e-01, 9.57485243e-01],
       [6.15561708e-01, 8.03030272e-01, 4.77581633e-01, 2.69331174e-01],
       [5.39338531e-01, 5.57968021e-01, 7.26146022e-02, 7.39138770e-01],
       [1.62055356e-01, 5.88380389e-01, 7.02384095e-02, 8.25621459e-01],
       [1.84140982e-01, 2.29557306e-01, 3.60181721e-01, 6.98399298e-01],
       [4.03212933e-01, 8.77948047e-01, 6.78955279e-01, 2.35502476e-01],
       [2.24651720e-02, 3.02260228e-01, 4.56275262e-01, 1.58609589e-02],
       [8.70592939e-01, 7.37068006e-01, 6.98285130e-01, 4.66041436e-01],
       [4.73255493e-01, 2.85768124e-01, 2.63800905e-01, 8.44064742e-01],
       [5.09304600e-01, 3.15010311e-01, 7.21433868e-01, 7.75179604e-01],
       [7.67417360e-02, 5.83005799e-02, 4.98662782e-02, 8.31873265e-01],
       [5.96499667e-01, 8.57661991e-01, 9.93570978e-01, 6.37446585e-01],
       [2.86687685e-02, 9.85747306e-01, 4.05927989e-01, 9.99280335e-01],
       [8.80989540e-01, 6.33231197e-01, 6.99930066e-01, 1.79496788e-01],
       [5.98722582e-01, 6.91655441e-01, 4.80962469e-01, 6.16015497e-01],
       [6.46539503e-01, 8.88352945e-01, 3.86321673e-01, 9.90716294e-01],
       [3.52336669e-01, 5.33443232e-01, 3.58406071e-01, 4.72853587e-01]])

In [91]:
np.random.randint(4,50)

10

In [92]:
np.random.randn(4,5)

array([[ 0.08228813, -0.47500804,  1.11244116, -1.31811366, -0.07692883],
       [-1.59899105,  0.86667669,  0.22845074,  1.49766212,  0.71618068],
       [ 0.33434242,  0.28249916,  1.46399448, -1.01506148, -1.10987682],
       [ 0.91680047,  0.99117948, -0.85510969, -1.26603698,  0.19722806]])

In [93]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0  0.640714  0.625173  1.179923 -0.145560 -1.545071
1 -1.935795 -0.042975  1.692796  1.113015  1.051679
2 -1.121466  1.470558 -0.061274 -0.453643  0.594906
3  1.592033  0.801187 -0.234164  0.476105  0.345778

In [94]:
a = np.fromfunction(lambda i , j ,z : i*j*z , (4,3,2),dtype = int)

In [96]:
a.reshape(12,2)

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 2],
       [0, 0],
       [0, 2],
       [0, 4],
       [0, 0],
       [0, 3],
       [0, 6]])

In [97]:
a.reshape(6,4)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 1, 0, 2],
       [0, 0, 0, 2],
       [0, 4, 0, 0],
       [0, 3, 0, 6]])

In [98]:
pd.DataFrame(a.reshape(6,4))

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  1  0  2
3  0  0  0  2
4  0  4  0  0
5  0  3  0  6

In [101]:
a.reshape(4,2,1,3)

array([[[[0, 0, 0]],

        [[0, 0, 0]]],


       [[[0, 0, 0]],

        [[1, 0, 2]]],


       [[[0, 0, 0]],

        [[2, 0, 4]]],


       [[[0, 0, 0]],

        [[3, 0, 6]]]])

In [102]:
a.reshape(4,-1)

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [103]:
a.reshape(4,2,-23543)

array([[[0, 0, 0],
        [0, 0, 0]],

       [[0, 0, 0],
        [1, 0, 2]],

       [[0, 0, 0],
        [2, 0, 4]],

       [[0, 0, 0],
        [3, 0, 6]]])

In [105]:
a.reshape(2,6,-143)

array([[[0, 0],
        [0, 0],
        [0, 0],
        [0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4],
        [0, 0],
        [0, 3],
        [0, 6]]])

In [108]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [109]:
list(range(4,10,2))

[4, 6, 8]

In [115]:
a= np.arange(4,10,.2)

In [114]:
np.arange(4,50.5,5)

array([ 4.,  9., 14., 19., 24., 29., 34., 39., 44., 49.])

In [116]:
a1

array([[1, 2],
       [3, 4]])

In [117]:
a[2:5]

array([4.4, 4.6, 4.8])

In [118]:
arr=np.random.rand(4,5)

In [119]:
arr

array([[0.72519748, 0.1679926 , 0.02216364, 0.974014  , 0.93446421],
       [0.00545133, 0.08854225, 0.32789836, 0.00813167, 0.9900621 ],
       [0.03591732, 0.29198354, 0.40692528, 0.93975709, 0.91363444],
       [0.9320167 , 0.83547139, 0.00344742, 0.60920586, 0.45471135]])

In [122]:
arr[arr>0.5]

array([0.72519748, 0.974014  , 0.93446421, 0.9900621 , 0.93975709,
       0.91363444, 0.9320167 , 0.83547139, 0.60920586])

In [125]:
arr[[1,2],[2]]

array([0.32789836, 0.40692528])

In [126]:
arr= np.random.rand(8,5)

In [127]:
arr

array([[0.00163942, 0.22844669, 0.34223221, 0.22762617, 0.83608908],
       [0.13851168, 0.77339221, 0.83822317, 0.58353572, 0.2182273 ],
       [0.8357334 , 0.24717675, 0.37856846, 0.59687565, 0.74250614],
       [0.99284671, 0.08922041, 0.45958427, 0.04662041, 0.33463444],
       [0.08216314, 0.88833452, 0.18620822, 0.46439111, 0.56158906],
       [0.75259337, 0.86060618, 0.7613289 , 0.55740426, 0.65517584],
       [0.78587441, 0.07658253, 0.05905594, 0.41917812, 0.97632356],
       [0.67394664, 0.57772824, 0.63322493, 0.38606893, 0.41894261]])

In [129]:
arr[1:8, 0:2]

array([[0.13851168, 0.77339221],
       [0.8357334 , 0.24717675],
       [0.99284671, 0.08922041],
       [0.08216314, 0.88833452],
       [0.75259337, 0.86060618],
       [0.78587441, 0.07658253],
       [0.67394664, 0.57772824]])

In [130]:
a2 = arr[1:8 , [0,1,2]]

In [131]:
a2

array([[0.13851168, 0.77339221, 0.83822317],
       [0.8357334 , 0.24717675, 0.37856846],
       [0.99284671, 0.08922041, 0.45958427],
       [0.08216314, 0.88833452, 0.18620822],
       [0.75259337, 0.86060618, 0.7613289 ],
       [0.78587441, 0.07658253, 0.05905594],
       [0.67394664, 0.57772824, 0.63322493]])

In [135]:
a2[0][0]=123

In [136]:
a2

array([[1.23000000e+02, 7.73392207e-01, 8.38223172e-01],
       [8.35733404e-01, 2.47176754e-01, 3.78568463e-01],
       [9.92846709e-01, 8.92204134e-02, 4.59584270e-01],
       [8.21631402e-02, 8.88334521e-01, 1.86208218e-01],
       [7.52593371e-01, 8.60606182e-01, 7.61328897e-01],
       [7.85874409e-01, 7.65825320e-02, 5.90559364e-02],
       [6.73946639e-01, 5.77728244e-01, 6.33224925e-01]])

In [137]:
a = np.array([[1,2] ,[3,4]])
b = np.array([[2,3] , [4,5]])

In [138]:
a*b

array([[ 2,  6],
       [12, 20]])

In [139]:
a@b

array([[10, 13],
       [22, 29]])

In [140]:
m=a@b

In [141]:
m/0

C:\Users\lerin\AppData\Local\Temp\ipykernel_12252\3791875896.py:1: RuntimeWarning: divide by zero encountered in true_divide
  m/0

array([[inf, inf],
       [inf, inf]])